body {
  font-family: Verdana, Courier, Arial;
  text-align: center;
}
span {
  font-weight: bold;
}
.message {
  font-weight: bold;
  color: #0099CC;
  font-size: 20px;
  padding-bottom: 5px;
}
.message span {
  padding-left: 10px;
  padding-right: 10px;
}